/* Scroll */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d438ff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a142ae;
}
::-webkit-scrollbar-thumb:active {
  background: #d438ff;
}
::-webkit-scrollbar-track {
  background: #787878;
  border: 0px none #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #878787;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    color: white;
}
a{
  text-decoration: none;
  color: white;
}
p{
  font-size: 1.15rem;
  padding:0 20px 20px 20px;
  margin: 0;
  font-weight: 200;
}
.topic h1{
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  padding: 5%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rajdhani', sans-serif;
}
.picture
{
  max-width: 100%;
  min-width: 300px;
  height: auto;
}

/* Main site */
#main{
    height: 100vh;
    background-image: url(background.jpg);
    overflow: hidden;
}
.leaks{
    height: 320px;
    width: 320px;
    border-radius: 50%;
    position: absolute;
    top: 2.5%;
    left: 50%;
    transform: translate(-50%,0);
}
.arrow i{
    font-size: 60px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
    animation: arrow 1s .5s infinite;
    overflow: hidden;
}
.textbox{
  position: absolute;
  bottom: 20%;
  width: 100%;
  text-align: center;
  color: #fff;
  overflow: hidden;
}
.textbox h1{
  font-size: 2rem;
}
.textbox h2{
  font-size: 1.25rem;
  font-weight: 200;
  animation: move 1.5s infinite both;
}

/* About */
#about{
  height:auto;
  background: rgb(49,0,133);
  background: linear-gradient(0deg, rgba(49,0,133,1) 20%, rgba(190,57,255,1) 100%);
  overflow: hidden;
}

/* Rules */
#rules{
  height: auto;
  background: rgb(49,0,133);
  background: linear-gradient(0deg, rgba(190,57,255,1) 20%, rgba(49,0,133,1)100%);
}

/* Discord */
#discord{
  background: rgb(44,47,51);
  height: 90vh;
}
.invite h2{
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
}
.invite h3{
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
}
.invite i{
  font-size: 10rem;
  margin-left: calc(50% - 5rem);
  padding-top: 20px;
  animation: move 1.5s infinite both;
}

/* Footer */
footer{
  height: 10vh;
  background-color: rgb(44,47,51);
  border-top: 2px solid white;
  text-align: center;
  font-size: 1rem;
  line-height: 10vh;
}

/* Hamburger menu */
.burger {
  position: fixed;
  top: 0;
  left: 4%;
  font-size: 40px;
  line-height: 50px;
  transition: .3s linear;
  z-index: 2;
}
.burger:hover {
  cursor: pointer;
}
aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  background-color: #1a1a1a;
  transition: .3s linear;
  z-index: 1;
}
.fas {
  display: block;
  color: white;
}
aside.show {
  left: 0;
}
nav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
nav button{
  display: block;
  background-color: rgba(0,0,0,0);
  border: none;
  font-size: 2rem;
  font-weight: 200;
  line-height: 2rem;
  text-align: center;
  transition: .4s .2s linear;
  overflow: hidden;
  padding: 30px 0;
  height: 8rem;
  width: 100vw;
  z-index: 1;
}
nav button::before{
  content: "";
  position: fixed;
  left: 0;
  height: 8rem;
  width: 0%;
  background-color: #a229f2;
  transition: .4s;
  z-index: -1;
}
nav button:nth-child(1)::before{
  top:0;
}
nav button:nth-child(2)::before{
  top:25%;
}
nav button:nth-child(3)::before{
  top:50%;
}
nav button:nth-child(4)::before{
  top:75%;
}
nav button:hover::before{
  width:100%;
}

/* Animations */
@keyframes arrow{
    0%{

    }
    100%{
        transform: translate(-50%,35px);
    }
}
@keyframes move{
    0%{
      transform: translate(0,0);
    }
    89%{
      transform: translate(0,0);
    }
    90%{
      transform: translate(20px,0);
    }
    91%{
      transform: translate(-20px,0);
    }
    92%{
      transform: translate(20px,0);
    }
    93%{
      transform: translate(-20px,0);
    }
    94%{
      transform: translate(20px,0);
    }
    95%{
      transform: translate(-20px,0);
    }
    100%{
      transform: translate(0,0);
    }
}
@keyframes scale{
    50%{
      transform: scale(1.15);
    }
    100%{
      transform: scale(1);
    }
}
